{% extends "Base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        {% include 'Navbar.html' %}
    </div>

    <!-- Post Details Modal -->
    <div class="container" style="margin-top: 100px;">
      <div class="row">
        <div class="col-md-9">
          <h3 class="modal-title" id="ModalLabel" style="margin-left: 10px;"><b>{{ post.title }}</b></h3>
            <img id="img{{post.id}}" src="{{post.image.url}}" class="fluid img-thumbnail" alt="Image" style="cursor:pointer">
            <div class="d-flex flex-row user-info">
              <a href="{% url 'UserProfile' user.username %}">
                <img class="rounded-circle" src="{{ user.profile.profile_image.url }}" height="50" width="50">
              </a>
              <div class="d-flex flex-column justify-content-start ml-2">
                  <a href="{% url 'UserProfile' user.username %}">
                      <span class="d-block font-weight-bold name">{{ post.author.username }}</span>
                  </a>
                  <span class="date text-black-50" style="font-size: 13px;">{{ post.author.first_name }} {{ post.author.last_name }}</span>
              </div>
            </div>
            <br>
            <div class="post__description">
                <span>
                    <a class="post__name--underline" href="{% url 'UserProfile' user.username %}" ><b>{{ post.author.username }}</b></a>
                    {{ post.caption }}
                </span>
            </div>
            <br>
            <span class="post__date-time"><i class="fas fa-calendar-alt"></i> {{ post.date_created }}</span>
        </div>
        <div class="col-md-3">
          
        </div>
      </div>
    </div>
    
{% endblock %}