{% extends "Base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        {% include 'Navbar.html' %}
    </div>

    <div class="container-fluid notification">
        <center>
            {% if messages %}
                {% for message in messages %} 
                <div class="alert {{message.tags}} m-1" role="alert" style="font-size: medium;">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %} 
            {% endif %}
        </center>
    </div>

        <div class="container">
    
            <div class="profile">
    
                <div class="profile-image">
                    {% if user.profile.profile_image %}
                    <img class="rounded-circle" src="{{ user.profile.profile_image.url }}" alt="" height="180" width="180">
                    {% else %}
                        <img src="https://icon-library.com/images/default-user-icon/default-user-icon-13.jpg" alt="" height="160" width="160">
                    {% endif %}
                </div>
    
                <div class="profile-user-settings">
    
                    <h1 class="profile-user-name">{{ user.username }}</h1>
    
                    <a href="{% url 'EditProfile' user.username %}" name='EditProfile'>
                        <button class="btn profile-edit-btn">Edit Profile</button>
                    </a>
                    <a href="{% url 'Settings' user.username %}" name='Settings'>
                        <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
                    </a>
    
                </div>
    
                <div class="profile-stats">
    
                    <ul>
                        <li><span class="profile-stat-count">{{ images_count }}</span> posts</li>
                        <li><span class="profile-stat-count">0</span> followers</li>
                        <li><span class="profile-stat-count">0</span> following</li>
                    </ul>
    
                </div>
    
                <div class="profile-bio">
    
                    <p style="font-size: medium;"><b>{{ user.first_name }} {{ user.last_name }}</b><br>
                        {% if user.profile.bio %}
                        {{ user.profile.bio }}
                        {% else %}
                        <b></b>
                        {% endif %}
                    </p>
    
                </div>
    
            </div>
            <!-- End of profile section -->
    
        </div>
        <!-- End of container -->

    
        <div class="container">
    
            <div class="gallery">

                {% for image in images %}
    
                    <div class="gallery-item" tabindex="0">
        
                        <img src="{{ image.image.url }}" class="gallery-image" alt="">
        
                        <div class="gallery-item-info">
        
                            <ul>
                                <li class="gallery-item-likes"><span class="visually-hidden"></span> {{ image.title  }}</li>
                            </ul>

                            <!-- <ul>
                                <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li>
                                <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
                            </ul> -->
        
                        </div>
        
                    </div>
    
                {% endfor %}

            </div>
            <!-- End of gallery -->
    
        </div>
        <!-- End of container -->
    
        {% block footer %}
        <div class="container">
            <div id="footer">
                <p class="text-center text-md-center" style="font-size: small;">© 2022 Django Instagram Clone</p>
            </div>
        </div>
        {% endblock %}
{% endblock %}