{% extends "Base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <center>
            {% if messages %}
                {% for message in messages %} 
                <div class="alert {{message.tags}} m-1" role="alert" style="font-size: large;">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </div>
                {% endfor %} 
            {% endif %}
        </center>
    </div>
    <div class="signup-form">
        <form action="" method="POST">
            {% csrf_token %}
            <h1 class="flex justify-content-center text-center">
                <img src={% static "assets/img/instagram-logo.png" %} alt="Instagram logo" title="Instagram logo" />
            </h1>
            <p class="text-muted text-center">Sign up to see photos and videos from your friends.</p>
            <div class="panel register flex justify-content-center">
                <div class="hint-text text-center" style="font-size: small;">Already Have An Account? <a href="{% url 'Login' %}" name = 'Login'>Log In</a></div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" name="first_name" placeholder="First Name" required/>
                </div>
                <div class="col">
                    <input type="text" name="last_name" placeholder="Last Name" required/>
                </div>
            </div>
            <input type="text" name="username" placeholder="Username" required/>
            <input type="email" name="email" placeholder="Email Address" required/>
            <input type="password" name="password1" placeholder="Password" required/>
            <input type="password" name="password2" placeholder="Confirm Password" required/>
            <button type="submit" class="btn btn-blue btn-block btn-sm">Sign Up</button>
        </form>
    </div>

    {% block footer %}
	<div class="container">
		<div id="footer">
			<p class="text-center text-md-center" style="font-size: small;">© 2022 Django Instagram Clone</p>
		</div>
	</div>
	{% endblock %}
{% endblock %}