{% extends "Base.html" %}
{% load static %}

{% block content %}
    <div class="signup-form">
        <form action="" method="POST">
            <h1 class="flex justify-content-center text-center">
                <img src={% static "assets/img/instagram-logo.png" %} alt="Instagram logo" title="Instagram logo" />
            </h1>
            <p class="text-muted text-center">Sign up to see photos and videos from your friends.</p>
            
            <input name="email" placeholder="Email Address" />
            <input name="text" placeholder="Full Name" />
            <input name="text" placeholder="Username" />
            <input name="password" placeholder="Password" />
            <input name="password" placeholder="Confirm Password" />
            <button type="submit" class="btn btn-blue btn-block btn-sm">Sign Up</button>

        </form>
        <div class="login-with-fb flex direction-column align-items-center">
            <a href="#">Forgot password?</a>
        </div>
    </div>

    {% block footer %}
	<div class="container">
		<div id="footer">
			<p class="text-center text-md-center">© 2022 Django Instagram Clone</p>
		</div>
	</div>
	{% endblock %}
{% endblock %}